@model PhotosManager.Models.User
@{
    ViewBag.Title = "Création de compte";
}

<div class="content loginForm">
    <br>
    <form method="POST" action="/Accounts/Subscribe">
        {
        <fieldset>
            <legend>Adresse ce courriel</legend>
            <input type="email"
                   class="form-control Email"
                   name="Email"
                   id="Email"
                   placeholder="Courriel"
                   required
                   RequireMessage='Veuillez entrer votre courriel'
                   InvalidMessage='Courriel invalide'
                   CustomErrorMessage="Ce courriel est déjà utilisé" />

            <input class="form-control MatchedInput"
                   type="text"
                   matchedInputId="Email"
                   name="matchedEmail"
                   id="matchedEmail"
                   placeholder="Vérification"
                   required
                   RequireMessage='Veuillez entrez à nouveau votre courriel'
                   CustomErrorMessage="Les courriels ne correspondent pas" />
        </fieldset>
        <fieldset>
            <legend>Mot de passe</legend>
            <input type="password"
                   class="form-control"
                   name="Password"
                   id="Password"
                   placeholder="Mot de passe"
                   required
                   RequireMessage='Veuillez entrer un mot de passe'
                   InvalidMessage='Mot de passe trop court' />

            <input class="form-control MatchedInput"
                   type="password"
                   matchedInputId="Password"
                   name="matchedPassword"
                   id="matchedPassword"
                   placeholder="Vérification"
                   required
                   RequireMessage='Veuillez entrez à nouveau votre mot de passe'
                   InvalidMessage="Ne correspond pas au mot de passe" />
        </fieldset>
        <fieldset>
            <legend>Nom</legend>
            <input type="text"
                   class="form-control Alpha"
                   name="Name"
                   id="Name"
                   placeholder="Nom"
                   required
                   RequireMessage='Veuillez entrer votre nom'
                   InvalidMessage='Nom invalide' />
        </fieldset>
        <fieldset>
            <legend>Avatar</legend>
            @Helper.ImageUploader(0, "Avatar", Model.Avatar, "Cliquez glisser une photo")
        </fieldset>

        <input type='submit' name='submit' id='saveUser' value="Enregistrer" class="form-control btn-primary">
    </form>
    <div class="cancel">
        <a href='/Accounts/Delete/@Model.Id' class="form-control btn-cancel">
            Effacer mon compte
        </a>
    </div>

</div>

@section Scripts
{
    <script defer>
        //initFormValidation(); inclue dans initImageUploaders()
        addConflictValidation('/Accounts/EmailExist', 'Email', 'saveUser');
    </script>
}

