@{
    ViewBag.Title = "A propos...";
}
<div class="aboutContainer">
    <h2>Photos Cloud</h2>
    <hr>
    <p>
        Gestionnaire de photos multi-usagers
    </p>
    <p>
        Auteur: Nicolas Chourot
    </p>
    <p>
        Collège Lionel-Groulx, automne 2023
    </p>
</div>